	#titulo
	{
		color:hsl(0, 0%, 40%);
		text-align:left;
		font-size: 90;
		height: 120px;
		width: 100%;
		position:relative;
		top:75px;
	}
	#titulo2
	{
		color:hsl(0, 0%, 40%);
		text-align:left;
		font-size: 60;
		height: 120px;
		width: 100%;
		position:relative;
		top:99px;
	}
	#menuitem
	{
		overflow: hidden;
		text-align:center;
		font-size: 16;
		float:right;
		height: 100%;
		width: 10%;
		position:relative;
		top:20px;
		left:20px;
	}
	#menu
	{
		height: 45px;
		width: 100%;
		margin-top: 5px;
	}
	#basegris
	{
		width: 100%;
		height: 400px;
		background-color:hsl(0, 0%, 40%);

	}
	#linea/*LINEA gris de las páginas de fotografos*/
	{
		width: 100%;
		height: 4px;
		background-color:hsl(0, 0%, 40%);
	}

	/*PAGINA PROPIA DE CADA FOTOGRAFO*/
	#basefotografos
	{
		width: 100%;
		height: 1200px;
		background-color:hsl(0, 0%, 98%);
		margin-top: 10px;
		margin-bottom: 10px;

	}
	#bannerizquierdo
	{
		width: 30%;
		height: 1200px;
		background-color:hsl(0, 0%, 40%);
		float: left;	
	}
	#bannerderecho
	{
		width: 70%;
		height: 1200px;
		/*background-color:hsl(0, 0%, 40%);*/
		float: left;	
	}
	#quote
	{
		margin-top: 25px;
		margin-bottom: 25px;
		text-align: center;
		float: right;
		color:hsl(0, 0%, 98%);
		font-style: oblique;
		margin-right: 7px;
		margin-left: : 7px;
	}
	#bio
	{
		font-size: 14;
		text-align: center;
		color:hsl(0, 0%, 98%);
		text-align: justify;
    	text-justify: inter-word;
		margin-right: 15px;
		margin-left:15px;
		float: right;
	}
	#retratobio
	{
		position:relative;
		top:20px;
		
		overflow: hidden;
	}
	.foto_fotografo
	{

	
		text-align: center;
		margin-bottom: 10px;
		margin-top: 10px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.foto_fotografo:hover
	{
		text-align: center;
		width:700px;
		overflow: hidden;
	}
	#login
	{
		color:rgb(77, 77, 77);
		text-align:right;
		font-size: 16;
		margin-top: 5px;
		margin-right: 10px;
		float:right;
		height: 60px;
		position:relative;
	}
	#cajaretratos
	{

		height: 490px;
		margin-top: 20px;
		margin-bottom: 20px;
    	margin-right: 135px;
    	margin-left: 135px;
		background-color:hsl(0, 0%, 40%);
		position:relative;
		border-radius: 3px 3px 3px 3px;
	}/*PROPIEDADES BÁSICAS DE LA CAJITA DE LOGIN*/
	#cajalogin
	{
		height:217px; 
		width:230px;
		text-align: center;
		background-color: hsl(0, 0%, 98%);
		border:1px solid;
		border-color: #666666;
  		margin-left: auto;
  		margin-right: auto;
  		margin-top: 240px;
  		border-radius: 5px 5px 5px 5px;
	}
	/*FORMULARIO*/
	#bodyformula
	{
		background-color: hsl(0, 0%, 40%);	
	}
	#formula
	{
		height:250px; 
		width:300px;
		text-align: center;
		background-color: hsl(0, 0%, 98%);
  		margin-left: auto;
  		margin-right: auto;
  		margin-top: 230px;
  		border-radius: 10px 10px 10px 10px;
	}
	.objetosformulario
	{
		margin-top: 10px;
		float: left;
		margin-left: 25px;
		margin-right: 10px;
		text-align: left;
		width: 100%;
	}
	.retrato
	{
		
		margin-top: 30px;
		margin-bottom: 30px;
		width: 20%;
		float: left;
		overflow: hidden;
		text-align:center;
	}
	.referencias
	{
		color:hsl(0, 0%, 90%);
		font-family: Georgia;
		font-size: 16;
		width: 20%;
		float: left;
		overflow: hidden;
		text-align:center;
		position:relative;
		bottom:15px;	
	}
	.referencias:hover 
	{
		color:hsl(0, 0%, 70%);
	}
	.referencias2
	{
		color:hsl(0, 0%, 90%);
		font-family: Georgia;
		font-size: 16;
		text-align:center;
	}
	.referencias2:hover
	{
		color:hsl(0, 0%, 70%);
	}
	a
	{
		color:rgb(77,77,77);
		text-align:right;
		font-family: Georgia;
		font-size: 16;
		text-decoration: none;
		
	}
	a:hover
	{
		text-decoration:;
		color:rgb(200,200,200);
		
	}
	img.circulo
	{
		border-radius: 50%;
	}
	/*body
	{
		position:relative;
		bottom:15px;
		font-family: Georgia;	
		background-color:hsl(0, 0%, 98%);
	}*/